/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    color: #f3f4f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmation-container {
    background-color: #374151;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    margin: 0 auto; /* Centering */
}


.form-wrapper {
    background-color: #374151;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #4b5563;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #1f2937;
    color: #f3f4f6;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
select:focus {
    outline: none;
    border-color: #6b7280;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.radio-group label {
    font-weight: normal;
    margin-right: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #22c55e;
    color: #1f2937;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #16a34a;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cancel-btn {
    background-color: transparent;
    border: none;
    color: #f3f4f6;
    font-size: 24px;
    cursor: pointer;
}

.cancel-btn:hover {
    color: #e5e7eb;
}
